
header{
    margin-top: 3rem;
    margin-top: 3rem;
}
p{
    line-height: 1.6;
}
.see-all{
    font-size: .8em;
    text-transform: uppercase;
}
.shows > li > h1 {
    font-size: 2.5rem;
}

section h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

h1 {
    font-weight: 300;
}

.cast img {
    width: 100%;
}

.cast > ul > li {
    width: 25%;
}


.shows > li {
    border-top: 1px solid black;
}

nav .selected a {
    font-weight: bold;
    color: black;
}

.cast > ul > li div {
    font-size: 0.8rem;
}

.cast > ul > li div:first-of-type {
    font-weight: bold;
}

.cast > ul > li div:last-of-type {
    font-style: italic;
}

#game-of-thrones .seasons li:last-child::after {
    content: "*";
}


#game-of-thrones .seasons ul::after {
    content: "* Final Season";
    display: block;
    font-size: 0.7rem;
    color: #999;
}
